<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,246},{381,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,242}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,242},{381,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,242}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,236},{381,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,242}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{381,212}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,212}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,216},{381,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,242}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{381,238}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,238}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{381,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,242}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,212}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,212}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{381,232}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,232}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
            <key>baoqi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{381,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,242}}</string>
                <key>sourceSize</key>
                <string>{381,242}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baoqi0.png</string>
            <key>size</key>
            <string>{1917,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7297639f4c5a873d489ef5909cdcb8b8:57e28101e6de5bf2f64e0e7d3068d5b7:b200505fd28f45fe1049804eaddc0ec8$</string>
            <key>textureFileName</key>
            <string>baoqi0.png</string>
        </dict>
    </dict>
</plist>
