<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhuang1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,304}}</string>
                <key>offset</key>
                <string>{102,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,153},{330,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{322,296}}</string>
                <key>offset</key>
                <string>{106,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,158},{322,296}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{332,294}}</string>
                <key>offset</key>
                <string>{99,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,159},{332,294}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{350,294}}</string>
                <key>offset</key>
                <string>{87,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,161},{350,294}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,308},{352,298}}</string>
                <key>offset</key>
                <string>{74,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,159},{352,298}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{366,302}}</string>
                <key>offset</key>
                <string>{67,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,157},{366,302}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,608},{376,302}}</string>
                <key>offset</key>
                <string>{61,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,156},{376,302}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongzhuang1.png</string>
            <key>size</key>
            <string>{992,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63f0a7838ca0c8ca8c0e250e683f291a:799b5628999dc0e0124f02cbbb25ed77:597fc28844658005ca7d7ee50de40025$</string>
            <key>textureFileName</key>
            <string>chongzhuang1.png</string>
        </dict>
    </dict>
</plist>
