<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhuang0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,410}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,116},{314,410}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{288,402}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,114},{288,402}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{280,390}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,115},{280,390}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{280,360}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,113},{280,360}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{292,352}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,113},{292,352}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{298,366}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,114},{298,366}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongzhuang0.png</string>
            <key>size</key>
            <string>{1766,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2abff87c8f18266606c981bde3bffd9:b91eed153a1615e5d926b8c4fce9fd20:1abbc359f1cfbf5936f58fa0fba32f43$</string>
            <key>textureFileName</key>
            <string>chongzhuang0.png</string>
        </dict>
    </dict>
</plist>
