<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongzhuang2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,364}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,128},{436,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{478,390}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,128},{478,390}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{492,408}}</string>
                <key>offset</key>
                <string>{-28,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,127},{492,408}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{506,420}}</string>
                <key>offset</key>
                <string>{-35,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,126},{506,420}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,412},{484,398}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,127},{484,398}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>chongzhuang2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,412},{400,344}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,128},{400,344}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongzhuang2.png</string>
            <key>size</key>
            <string>{1414,834}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bef35af7462b5fc711d085689ee1cf01:c6f7daa38704700b5d49d302797286b1:69f0effacb4c401d9f3e1022fbefc8ff$</string>
            <key>textureFileName</key>
            <string>chongzhuang2.png</string>
        </dict>
    </dict>
</plist>
