<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangsongPVE_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,236},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{76,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,158},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{76,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{76,40}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,314},{74,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{74,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
            <key>chuangsongPVE_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{76,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{76,40}}</string>
                <key>sourceSize</key>
                <string>{104,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuangsongPVE.png</string>
            <key>size</key>
            <string>{124,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65417425462d346972001e7853ceacf0:c1c083b7e5fdeb6491efe2447583577b:cc252fdabfe2419229d1eed473502702$</string>
            <key>textureFileName</key>
            <string>chuangsongPVE.png</string>
        </dict>
    </dict>
</plist>
