<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuiji1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,530},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,522},{88,28}}</string>
                <key>offset</key>
                <string>{58,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,453},{88,28}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,410},{110,28}}</string>
                <key>offset</key>
                <string>{53,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,450},{110,28}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,612},{126,26}}</string>
                <key>offset</key>
                <string>{55,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,448},{126,26}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,612},{164,26}}</string>
                <key>offset</key>
                <string>{38,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,445},{164,26}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,410},{162,22}}</string>
                <key>offset</key>
                <string>{40,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,445},{162,22}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,3954},{372,88}}</string>
                <key>offset</key>
                <string>{39,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,432},{372,88}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3954},{390,92}}</string>
                <key>offset</key>
                <string>{49,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,431},{390,92}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2648},{420,96}}</string>
                <key>offset</key>
                <string>{52,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,433},{420,96}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,3926},{370,108}}</string>
                <key>offset</key>
                <string>{70,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,421},{370,108}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,530},{438,144}}</string>
                <key>offset</key>
                <string>{44,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,386},{438,144}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{526,138}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,395},{526,138}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1180},{572,252}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,272},{572,252}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,3288},{532,328}}</string>
                <key>offset</key>
                <string>{-35,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,187},{532,328}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3230},{532,364}}</string>
                <key>offset</key>
                <string>{-7,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,167},{532,364}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2946},{550,340}}</string>
                <key>offset</key>
                <string>{-17,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,182},{550,340}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3596},{526,356}}</string>
                <key>offset</key>
                <string>{10,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,167},{526,356}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,3376},{512,348}}</string>
                <key>offset</key>
                <string>{-21,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,154},{512,348}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2160},{586,286}}</string>
                <key>offset</key>
                <string>{-2,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,218},{586,286}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,3080},{498,294}}</string>
                <key>offset</key>
                <string>{-47,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,208},{498,294}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2746},{402,332}}</string>
                <key>offset</key>
                <string>{-23,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,181},{402,332}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,3618},{508,306}}</string>
                <key>offset</key>
                <string>{-36,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,182},{508,306}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2748},{562,196}}</string>
                <key>offset</key>
                <string>{-28,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,263},{562,196}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1956},{590,202}}</string>
                <key>offset</key>
                <string>{-4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,259},{590,202}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2480},{444,166}}</string>
                <key>offset</key>
                <string>{-36,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,300},{444,166}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{616,286}}</string>
                <key>offset</key>
                <string>{29,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,271},{616,286}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{646,408}}</string>
                <key>offset</key>
                <string>{73,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,178},{646,408}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1194},{660,374}}</string>
                <key>offset</key>
                <string>{66,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,272},{660,374}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{698,392}}</string>
                <key>offset</key>
                <string>{69,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,317},{698,392}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{754,406}}</string>
                <key>offset</key>
                <string>{73,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,310},{754,406}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{666,426}}</string>
                <key>offset</key>
                <string>{117,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,326},{666,426}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,646},{690,266}}</string>
                <key>offset</key>
                <string>{105,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,322},{690,266}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2448},{570,298}}</string>
                <key>offset</key>
                <string>{165,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,317},{570,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1908},{570,314}}</string>
                <key>offset</key>
                <string>{165,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,312},{570,314}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2574},{570,296}}</string>
                <key>offset</key>
                <string>{165,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,308},{570,296}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2872},{558,356}}</string>
                <key>offset</key>
                <string>{171,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,306},{558,356}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{612,312}}</string>
                <key>offset</key>
                <string>{144,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,336},{612,312}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,914},{666,278}}</string>
                <key>offset</key>
                <string>{117,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,399},{666,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,338},{704,306}}</string>
                <key>offset</key>
                <string>{98,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,400},{704,306}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{712,334}}</string>
                <key>offset</key>
                <string>{94,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,401},{712,334}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1570},{638,384}}</string>
                <key>offset</key>
                <string>{29,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,360},{638,384}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2244},{580,328}}</string>
                <key>offset</key>
                <string>{54,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,345},{580,328}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1754},{316,152}}</string>
                <key>offset</key>
                <string>{-110,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,367},{316,152}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,3726},{214,244}}</string>
                <key>offset</key>
                <string>{-56,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,274},{214,244}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,3726},{240,94}}</string>
                <key>offset</key>
                <string>{-60,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,413},{240,94}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji1_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,970},{266,208}}</string>
                <key>offset</key>
                <string>{-64,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,298},{266,208}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuiji1.png</string>
            <key>size</key>
            <string>{1614,4048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb62dcf8bdac8d256153df5d622984d9:6ee6313031a341146819bcd44cd3792d:e7b8a6975831205f4921eac0556df4aa$</string>
            <key>textureFileName</key>
            <string>chuiji1.png</string>
        </dict>
    </dict>
</plist>
