<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuiji2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1864},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1352},{126,30}}</string>
                <key>offset</key>
                <string>{66,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,425},{126,30}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2244},{124,34}}</string>
                <key>offset</key>
                <string>{65,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{453,422},{124,34}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4042},{136,42}}</string>
                <key>offset</key>
                <string>{47,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,418},{136,42}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2940},{136,48}}</string>
                <key>offset</key>
                <string>{30,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,417},{136,48}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,3248},{116,52}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,416},{116,52}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,3628},{300,136}}</string>
                <key>offset</key>
                <string>{77,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,368},{300,136}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,780},{300,138}}</string>
                <key>offset</key>
                <string>{77,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,366},{300,138}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,3296},{330,134}}</string>
                <key>offset</key>
                <string>{96,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,368},{330,134}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2342},{370,140}}</string>
                <key>offset</key>
                <string>{118,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,370},{370,140}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{418,166}}</string>
                <key>offset</key>
                <string>{108,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,373},{418,166}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,3880},{412,184}}</string>
                <key>offset</key>
                <string>{109,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,374},{412,184}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1134},{434,212}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,346},{434,212}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2492},{446,318}}</string>
                <key>offset</key>
                <string>{17,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,237},{446,318}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1348},{448,344}}</string>
                <key>offset</key>
                <string>{16,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,208},{448,344}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,3452},{426,366}}</string>
                <key>offset</key>
                <string>{4,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,186},{426,366}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,3296},{402,374}}</string>
                <key>offset</key>
                <string>{-1,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,150},{402,374}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,3672},{414,358}}</string>
                <key>offset</key>
                <string>{3,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,146},{414,358}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1798},{444,364}}</string>
                <key>offset</key>
                <string>{19,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,142},{444,364}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,3018},{432,378}}</string>
                <key>offset</key>
                <string>{29,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,148},{432,378}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2484},{440,362}}</string>
                <key>offset</key>
                <string>{40,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,153},{440,362}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1864},{476,308}}</string>
                <key>offset</key>
                <string>{58,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,182},{476,308}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2664},{388,278}}</string>
                <key>offset</key>
                <string>{10,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,183},{388,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2244},{418,260}}</string>
                <key>offset</key>
                <string>{26,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,185},{418,260}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,422},{356,242}}</string>
                <key>offset</key>
                <string>{-4,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,188},{356,242}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1352},{470,298}}</string>
                <key>offset</key>
                <string>{69,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,201},{470,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{520,422}}</string>
                <key>offset</key>
                <string>{103,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,114},{520,422}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3018},{522,294}}</string>
                <key>offset</key>
                <string>{88,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,257},{522,294}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2492},{524,298}}</string>
                <key>offset</key>
                <string>{104,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,272},{524,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{568,306}}</string>
                <key>offset</key>
                <string>{115,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,270},{568,306}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{536,312}}</string>
                <key>offset</key>
                <string>{153,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,263},{536,312}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{560,346}}</string>
                <key>offset</key>
                <string>{141,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,259},{560,346}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{522,370}}</string>
                <key>offset</key>
                <string>{160,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,253},{522,370}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3542},{498,364}}</string>
                <key>offset</key>
                <string>{172,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,248},{498,364}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,860},{490,382}}</string>
                <key>offset</key>
                <string>{176,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,245},{490,382}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,432}}</string>
                <key>offset</key>
                <string>{141,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,244},{560,432}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,350},{480,300}}</string>
                <key>offset</key>
                <string>{181,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,274},{480,300}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,652},{480,296}}</string>
                <key>offset</key>
                <string>{181,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,282},{480,296}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1384},{478,298}}</string>
                <key>offset</key>
                <string>{180,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,287},{478,298}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1824},{468,296}}</string>
                <key>offset</key>
                <string>{181,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,297},{468,296}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2926},{320,286}}</string>
                <key>offset</key>
                <string>{136,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,315},{320,286}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,3054},{316,240}}</string>
                <key>offset</key>
                <string>{134,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,321},{316,240}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,652},{162,142}}</string>
                <key>offset</key>
                <string>{66,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,421},{162,142}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2294},{162,140}}</string>
                <key>offset</key>
                <string>{67,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,424},{162,140}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,3930},{128,140}}</string>
                <key>offset</key>
                <string>{51,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,426},{128,140}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji2_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2294},{130,130}}</string>
                <key>offset</key>
                <string>{50,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,420},{130,130}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuiji2.png</string>
            <key>size</key>
            <string>{1301,4088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf6f6e36bb188c949c2952a2585ba6f:dec77e42187111e434e6a81b9891784f:42f7c95deb19542246a07e899f9d8d06$</string>
            <key>textureFileName</key>
            <string>chuiji2.png</string>
        </dict>
    </dict>
</plist>
