<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuiji0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1452},{124,84}}</string>
                <key>offset</key>
                <string>{41,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,388},{124,84}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2156},{94,86}}</string>
                <key>offset</key>
                <string>{30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,387},{94,86}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,936},{74,72}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,390},{74,72}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1774},{56,76}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,397},{56,76}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2156},{64,74}}</string>
                <key>offset</key>
                <string>{-33,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,403},{64,74}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1060},{390,168}}</string>
                <key>offset</key>
                <string>{49,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,345},{390,168}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1588},{374,166}}</string>
                <key>offset</key>
                <string>{43,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,347},{374,166}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1964},{340,190}}</string>
                <key>offset</key>
                <string>{28,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,321},{340,190}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1844},{420,198}}</string>
                <key>offset</key>
                <string>{51,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,314},{420,198}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1706},{440,204}}</string>
                <key>offset</key>
                <string>{73,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,308},{440,204}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,368},{440,212}}</string>
                <key>offset</key>
                <string>{105,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,303},{440,212}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,844},{418,214}}</string>
                <key>offset</key>
                <string>{79,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,302},{418,214}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1832},{438,224}}</string>
                <key>offset</key>
                <string>{68,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,289},{438,224}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,336},{460,272}}</string>
                <key>offset</key>
                <string>{53,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,258},{460,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,558},{484,296}}</string>
                <key>offset</key>
                <string>{39,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,228},{484,296}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,798},{488,340}}</string>
                <key>offset</key>
                <string>{30,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,180},{488,340}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1912},{380,354}}</string>
                <key>offset</key>
                <string>{-18,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,153},{380,354}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,330},{422,362}}</string>
                <key>offset</key>
                <string>{8,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,144},{422,362}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,856},{458,316}}</string>
                <key>offset</key>
                <string>{27,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,191},{458,316}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,754},{476,338}}</string>
                <key>offset</key>
                <string>{38,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,165},{476,338}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{506,326}}</string>
                <key>offset</key>
                <string>{41,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,171},{506,326}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,332}}</string>
                <key>offset</key>
                <string>{44,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,153},{536,332}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,582},{480,260}}</string>
                <key>offset</key>
                <string>{48,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,168},{480,260}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1578},{360,234}}</string>
                <key>offset</key>
                <string>{-10,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,197},{360,234}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1912},{340,326}}</string>
                <key>offset</key>
                <string>{-4,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,174},{340,326}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{394,460}}</string>
                <key>offset</key>
                <string>{28,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,76},{394,460}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{382,378}}</string>
                <key>offset</key>
                <string>{20,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,179},{382,378}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{418,364}}</string>
                <key>offset</key>
                <string>{29,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,211},{418,364}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{494,350}}</string>
                <key>offset</key>
                <string>{42,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,230},{494,350}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1288},{542,258}}</string>
                <key>offset</key>
                <string>{42,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,225},{542,258}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{566,266}}</string>
                <key>offset</key>
                <string>{30,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,220},{566,266}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{556,272}}</string>
                <key>offset</key>
                <string>{35,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,215},{556,272}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1294},{548,278}}</string>
                <key>offset</key>
                <string>{39,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,210},{548,278}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1232},{540,282}}</string>
                <key>offset</key>
                <string>{43,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,206},{540,282}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,276},{534,280}}</string>
                <key>offset</key>
                <string>{46,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{534,280}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1174},{530,226}}</string>
                <key>offset</key>
                <string>{48,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,234},{530,226}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1174},{530,186}}</string>
                <key>offset</key>
                <string>{48,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,274},{530,186}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1060},{526,174}}</string>
                <key>offset</key>
                <string>{48,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,283},{526,174}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1060},{516,164}}</string>
                <key>offset</key>
                <string>{49,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,292},{516,164}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1452},{94,86}}</string>
                <key>offset</key>
                <string>{18,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,301},{94,86}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,844},{90,82}}</string>
                <key>offset</key>
                <string>{18,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,303},{90,82}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
            <key>chuiji0_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,330},{1,1}}</string>
                <key>offset</key>
                <string>{-449.5,449.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{900,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuiji0.png</string>
            <key>size</key>
            <string>{2026,2280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:728f90306a8338985058f044312814ff:8d1a46c31a9c5427fc248a305f76c18b:1cc659de93018cf99f8e6bf88123d0ab$</string>
            <key>textureFileName</key>
            <string>chuiji0.png</string>
        </dict>
    </dict>
</plist>
