<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circleEff_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,38}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>circleEff_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>circleEff_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>circleEff_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>circleEff_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>circleEff.png</string>
            <key>size</key>
            <string>{470,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c68608cf7f521fba947fc48eed224adb:5f06f6f219322df922002de9056348b5:31598c1c2025acf0571d4561c1345169$</string>
            <key>textureFileName</key>
            <string>circleEff.png</string>
        </dict>
    </dict>
</plist>
