<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>997-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{294,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,163}}</string>
                <key>sourceSize</key>
                <string>{294,163}</string>
            </dict>
            <key>997-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{382,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,195}}</string>
                <key>sourceSize</key>
                <string>{382,195}</string>
            </dict>
            <key>997-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,167},{278,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,146}}</string>
                <key>sourceSize</key>
                <string>{278,146}</string>
            </dict>
            <key>997-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{331,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,169}}</string>
                <key>sourceSize</key>
                <string>{331,169}</string>
            </dict>
            <key>997-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,356},{330,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,154}}</string>
                <key>sourceSize</key>
                <string>{330,154}</string>
            </dict>
            <key>997-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,167},{327,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,149}}</string>
                <key>sourceSize</key>
                <string>{327,149}</string>
            </dict>
            <key>997-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{352,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,158}}</string>
                <key>sourceSize</key>
                <string>{352,158}</string>
            </dict>
            <key>997-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,232}}</string>
                <key>sourceSize</key>
                <string>{492,232}</string>
            </dict>
            <key>997-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{442,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,225}}</string>
                <key>sourceSize</key>
                <string>{442,225}</string>
            </dict>
            <key>997-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{426,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,224}}</string>
                <key>sourceSize</key>
                <string>{426,224}</string>
            </dict>
            <key>997-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{419,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,220}}</string>
                <key>sourceSize</key>
                <string>{419,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect0.png</string>
            <key>size</key>
            <string>{1739,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee3c3ee6d872a6c5c17b5601b679f189:c7bd8d89b98130489ac3786b58101453:76f05cf677fccd1abf90c34c8514b447$</string>
            <key>textureFileName</key>
            <string>effect0.png</string>
        </dict>
    </dict>
</plist>
