<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hitEff_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{151,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{151,152}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>hitEff_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{169,164}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{169,164}}</string>
                <key>sourceSize</key>
                <string>{181,182}</string>
            </dict>
            <key>hitEff_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{179,184}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{179,184}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hitEff_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,194}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{183,194}}</string>
                <key>sourceSize</key>
                <string>{191,208}</string>
            </dict>
            <key>hitEff_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{181,203}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{181,203}}</string>
                <key>sourceSize</key>
                <string>{197,217}</string>
            </dict>
            <key>hitEff_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{126,120}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{126,120}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hitEff.png</string>
            <key>size</key>
            <string>{1014,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79ee88f8f901f6337414aff4f409807e:bf07d65d1486e25afadc1a9725cea339:3f4dd7bac80a212183ea81a4346d016d$</string>
            <key>textureFileName</key>
            <string>hitEff.png</string>
        </dict>
    </dict>
</plist>
