<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{102,38}}</string>
                <key>offset</key>
                <string>{118,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,249},{102,38}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,522},{122,88}}</string>
                <key>offset</key>
                <string>{118,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,211},{122,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,536},{192,128}}</string>
                <key>offset</key>
                <string>{87,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,211},{192,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{204,128}}</string>
                <key>offset</key>
                <string>{92,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,211},{204,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{186,128}}</string>
                <key>offset</key>
                <string>{84,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,213},{186,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,326},{194,94}}</string>
                <key>offset</key>
                <string>{86,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,247},{194,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,436},{200,98}}</string>
                <key>offset</key>
                <string>{88,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,244},{200,98}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{204,102}}</string>
                <key>offset</key>
                <string>{91,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,241},{204,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,222},{208,102}}</string>
                <key>offset</key>
                <string>{93,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,241},{208,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,116},{212,104}}</string>
                <key>offset</key>
                <string>{95,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,239},{212,104}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,646},{190,106}}</string>
                <key>offset</key>
                <string>{83,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,237},{190,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{198,106}}</string>
                <key>offset</key>
                <string>{87,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,236},{198,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,326},{204,108}}</string>
                <key>offset</key>
                <string>{91,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,234},{204,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{212,110}}</string>
                <key>offset</key>
                <string>{95,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,232},{212,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{220,112}}</string>
                <key>offset</key>
                <string>{98,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,229},{220,112}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,112}}</string>
                <key>offset</key>
                <string>{102,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,227},{228,112}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>houtiao1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5110d92105452a18d9711b311fb3b22:3a515a09ac976463dc72fa2c88033756:2b25ee7ca99d94ededa238c4de5c656a$</string>
            <key>textureFileName</key>
            <string>houtiao1.png</string>
        </dict>
    </dict>
</plist>
