<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianqi2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,250},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,250},{108,160}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,196},{108,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,414},{110,162}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,194},{110,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,250},{114,162}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,195},{114,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{114,154}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,203},{114,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,412},{114,156}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,200},{114,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,528},{110,158}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,200},{110,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{104,158}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,200},{104,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,528},{228,234}}</string>
                <key>offset</key>
                <string>{43,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,124},{228,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{260,254}}</string>
                <key>offset</key>
                <string>{75,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,146},{260,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,262}}</string>
                <key>offset</key>
                <string>{84,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,138},{242,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,764},{194,218}}</string>
                <key>offset</key>
                <string>{61,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,136},{194,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,764},{222,228}}</string>
                <key>offset</key>
                <string>{78,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,124},{222,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{244,236}}</string>
                <key>offset</key>
                <string>{97,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,114},{244,236}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{238,242}}</string>
                <key>offset</key>
                <string>{129,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,106},{238,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{246,220}}</string>
                <key>offset</key>
                <string>{153,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,98},{246,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,162},{122,84}}</string>
                <key>offset</key>
                <string>{90,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,234},{122,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,248},{120,76}}</string>
                <key>offset</key>
                <string>{90,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,241},{120,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,248},{120,76}}</string>
                <key>offset</key>
                <string>{88,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,238},{120,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,688},{116,72}}</string>
                <key>offset</key>
                <string>{88,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,239},{116,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianqi2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f977dae55e8d39d1d2969b730b278d93:945905dc90cbe52d09dd320b86f2f0f2:42d7cf6f41592c4625256d5cdc0a16e3$</string>
            <key>textureFileName</key>
            <string>jianqi2.png</string>
        </dict>
    </dict>
</plist>
