<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianqi0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,70},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,396},{108,160}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,196},{108,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,118},{110,162}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,194},{110,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{114,162}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,195},{114,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,506},{114,154}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,203},{114,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{114,156}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,200},{114,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{110,158}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,200},{110,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,480},{104,158}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,200},{104,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{214,270}}</string>
                <key>offset</key>
                <string>{17,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,88},{214,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,312},{82,230}}</string>
                <key>offset</key>
                <string>{9,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,126},{82,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,230},{80,234}}</string>
                <key>offset</key>
                <string>{7,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,121},{80,234}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,396},{70,252}}</string>
                <key>offset</key>
                <string>{1,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,102},{70,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{68,270}}</string>
                <key>offset</key>
                <string>{2,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,82},{68,270}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{68,288}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,62},{68,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,304}}</string>
                <key>offset</key>
                <string>{3,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,44},{66,304}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{52,294}}</string>
                <key>offset</key>
                <string>{10,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,24},{52,294}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,640},{52,130}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,185},{52,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,622},{52,130}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,185},{52,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,640},{52,128}}</string>
                <key>offset</key>
                <string>{9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,186},{52,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{52,116}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,186},{52,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianqi0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a7afb79f79c9fdecdb67aa2ef8f97d:e681433c15b571138907642d50bda184:0579e45d53fa0f267c4f7afdda59123c$</string>
            <key>textureFileName</key>
            <string>jianqi0.png</string>
        </dict>
    </dict>
</plist>
