<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianqi1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,182},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{108,160}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,196},{108,160}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,340},{110,162}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,194},{110,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,224},{114,162}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,195},{114,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{114,154}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,203},{114,154}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,558},{114,156}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,200},{114,156}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,112},{110,158}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,200},{110,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{104,158}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,200},{104,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,378},{248,228}}</string>
                <key>offset</key>
                <string>{48,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,130},{248,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{282,260}}</string>
                <key>offset</key>
                <string>{86,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,183},{282,260}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{278,264}}</string>
                <key>offset</key>
                <string>{88,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,179},{278,264}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,446},{240,180}}</string>
                <key>offset</key>
                <string>{83,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,179},{240,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,264},{260,180}}</string>
                <key>offset</key>
                <string>{98,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,179},{260,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{276,186}}</string>
                <key>offset</key>
                <string>{114,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,177},{276,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,190},{274,186}}</string>
                <key>offset</key>
                <string>{141,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,178},{274,186}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,178}}</string>
                <key>offset</key>
                <string>{152,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,183},{296,178}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,570},{194,114}}</string>
                <key>offset</key>
                <string>{101,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,245},{194,114}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,608},{194,110}}</string>
                <key>offset</key>
                <string>{101,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,251},{194,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,452},{194,116}}</string>
                <key>offset</key>
                <string>{101,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,246},{194,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>jianqi1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{192,108}}</string>
                <key>offset</key>
                <string>{101,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,248},{192,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianqi1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9099882fadec6091bef5e0c1ea7976f6:5f467f7374a6cf73c771c88fb0d182e6:25df159ee9966ba17d4f241a59b09988$</string>
            <key>textureFileName</key>
            <string>jianqi1.png</string>
        </dict>
    </dict>
</plist>
