<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,352},{90,78}}</string>
                <key>offset</key>
                <string>{25,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,281},{90,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{96,80}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,279},{96,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{102,82}}</string>
                <key>offset</key>
                <string>{27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,278},{102,82}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,248},{112,84}}</string>
                <key>offset</key>
                <string>{28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,275},{112,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,240},{120,98}}</string>
                <key>offset</key>
                <string>{29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,261},{120,98}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,128},{128,110}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,250},{128,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,126},{146,120}}</string>
                <key>offset</key>
                <string>{31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,241},{146,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{150,124}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,236},{150,124}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{154,126}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,234},{154,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{156,122}}</string>
                <key>offset</key>
                <string>{36,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,237},{156,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,118}}</string>
                <key>offset</key>
                <string>{37,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,239},{162,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,240},{110,82}}</string>
                <key>offset</key>
                <string>{66,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,271},{110,82}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jitui1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d4586df349a02ad886d655b8447dc89:706bb49665c2fcfe24ee59a9fe841c14:12603b0e620a8bea0ed99e5ca703b1a6$</string>
            <key>textureFileName</key>
            <string>jitui1.png</string>
        </dict>
    </dict>
</plist>
