<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,358},{86,46}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,301},{86,46}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,120},{90,78}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,272},{90,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{102,78}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,269},{102,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{116,78}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,267},{116,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{136,84}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,260},{136,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,200},{156,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,256},{156,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,322},{180,94}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,249},{180,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,220},{196,100}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,243},{196,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{210,104}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,238},{210,104}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,108}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,233},{212,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,108},{202,110}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,230},{202,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{198,108}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,229},{198,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,222},{78,92}}</string>
                <key>offset</key>
                <string>{21,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,229},{78,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jitui0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5659da8f386ea05b1af709769e15fbcd:b9c94fa94c10d37de59af92799c0dc5f:cee414218932749e4862be71ae5a48e1$</string>
            <key>textureFileName</key>
            <string>jitui0.png</string>
        </dict>
    </dict>
</plist>
