<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luanwu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{150,88}}</string>
                <key>offset</key>
                <string>{-24,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,241},{150,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1038},{162,96}}</string>
                <key>offset</key>
                <string>{-38,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,233},{162,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,470},{134,106}}</string>
                <key>offset</key>
                <string>{-53,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,223},{134,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,236},{232,110}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,217},{232,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,948},{298,240}}</string>
                <key>offset</key>
                <string>{-3,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,115},{298,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1038},{282,220}}</string>
                <key>offset</key>
                <string>{8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,133},{282,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1190},{266,242}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,117},{266,242}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,606},{270,252}}</string>
                <key>offset</key>
                <string>{-1,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,110},{270,252}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{336,302}}</string>
                <key>offset</key>
                <string>{-16,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,96},{336,302}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,708},{342,238}}</string>
                <key>offset</key>
                <string>{-30,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{342,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{348,226}}</string>
                <key>offset</key>
                <string>{-20,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,168},{348,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,476},{350,230}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,166},{350,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{394,226}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,170},{394,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,236},{432,238}}</string>
                <key>offset</key>
                <string>{-26,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,163},{432,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{426,230}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,160},{426,230}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{456,232}}</string>
                <key>offset</key>
                <string>{30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,163},{456,232}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,240}}</string>
                <key>offset</key>
                <string>{38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,186},{468,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>luanwu_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,860},{320,176}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,204},{320,176}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luanwu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:793a2d8011f2075b37edabd1fd40cd68:bab625dc33963e273d500abf2f12c7c4:3f959a8e1c34e1917472241072c09bec$</string>
            <key>textureFileName</key>
            <string>luanwu.png</string>
        </dict>
    </dict>
</plist>
