<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{108,72}}</string>
                <key>offset</key>
                <string>{140,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,188},{108,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,596},{116,68}}</string>
                <key>offset</key>
                <string>{143,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,185},{116,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,468},{122,70}}</string>
                <key>offset</key>
                <string>{147,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,183},{122,70}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,108},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,112},{38,88}}</string>
                <key>offset</key>
                <string>{6,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,152},{38,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,658},{88,110}}</string>
                <key>offset</key>
                <string>{4,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,136},{88,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,394},{88,112}}</string>
                <key>offset</key>
                <string>{4,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,130},{88,112}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{88,126}}</string>
                <key>offset</key>
                <string>{3,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,119},{88,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,484},{88,120}}</string>
                <key>offset</key>
                <string>{4,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,134},{88,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{88,120}}</string>
                <key>offset</key>
                <string>{4,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,128},{88,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,378},{88,128}}</string>
                <key>offset</key>
                <string>{3,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,118},{88,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,264},{84,128}}</string>
                <key>offset</key>
                <string>{3,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,118},{84,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,390},{54,128}}</string>
                <key>offset</key>
                <string>{12,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,114},{54,128}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,268},{56,134}}</string>
                <key>offset</key>
                <string>{11,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,109},{56,134}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,508},{58,122}}</string>
                <key>offset</key>
                <string>{9,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,118},{58,122}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,446},{60,126}}</string>
                <key>offset</key>
                <string>{9,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,114},{60,126}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,264},{64,136}}</string>
                <key>offset</key>
                <string>{7,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,109},{64,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,568},{64,118}}</string>
                <key>offset</key>
                <string>{6,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,110},{64,118}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,574},{82,116}}</string>
                <key>offset</key>
                <string>{13,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,124},{82,116}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{108,158}}</string>
                <key>offset</key>
                <string>{23,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,94},{108,158}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{104,144}}</string>
                <key>offset</key>
                <string>{25,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,110},{104,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,88},{104,138}}</string>
                <key>offset</key>
                <string>{24,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,121},{104,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,170}}</string>
                <key>offset</key>
                <string>{21,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,94},{104,170}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,330},{46,130}}</string>
                <key>offset</key>
                <string>{40,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,131},{46,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{88,132}}</string>
                <key>offset</key>
                <string>{33,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,125},{88,132}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{88,136}}</string>
                <key>offset</key>
                <string>{33,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,121},{88,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,112},{88,138}}</string>
                <key>offset</key>
                <string>{32,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,117},{88,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{84,144}}</string>
                <key>offset</key>
                <string>{31,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,113},{84,144}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,540},{54,120}}</string>
                <key>offset</key>
                <string>{36,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,132},{54,120}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{58,124}}</string>
                <key>offset</key>
                <string>{35,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,126},{58,124}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,326},{62,130}}</string>
                <key>offset</key>
                <string>{35,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,120},{62,130}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,202},{64,138}}</string>
                <key>offset</key>
                <string>{35,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,112},{64,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,194},{68,138}}</string>
                <key>offset</key>
                <string>{34,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,112},{68,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianghuo0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ee4f3efd8b48e939cb76f1dcba0120:f3cd26c2e19d0be7e87f564ef24ad01b:1deed09cc66c8b8135d3b3544634d662$</string>
            <key>textureFileName</key>
            <string>qianghuo0.png</string>
        </dict>
    </dict>
</plist>
