<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,336},{104,38}}</string>
                <key>offset</key>
                <string>{115,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,250},{104,38}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{122,88}}</string>
                <key>offset</key>
                <string>{123,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,222},{122,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,612},{130,88}}</string>
                <key>offset</key>
                <string>{125,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,222},{130,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,486},{144,88}}</string>
                <key>offset</key>
                <string>{129,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,221},{144,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,586},{130,84}}</string>
                <key>offset</key>
                <string>{120,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,222},{130,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{138,52}}</string>
                <key>offset</key>
                <string>{123,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,246},{138,52}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{144,90}}</string>
                <key>offset</key>
                <string>{126,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,218},{144,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,336},{150,90}}</string>
                <key>offset</key>
                <string>{128,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,218},{150,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,244},{156,90}}</string>
                <key>offset</key>
                <string>{129,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,217},{156,90}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,156},{162,86}}</string>
                <key>offset</key>
                <string>{130,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,218},{162,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{140,52}}</string>
                <key>offset</key>
                <string>{118,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,244},{140,52}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,428},{148,56}}</string>
                <key>offset</key>
                <string>{122,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,241},{148,56}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,300},{156,60}}</string>
                <key>offset</key>
                <string>{125,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,239},{156,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,158},{162,62}}</string>
                <key>offset</key>
                <string>{130,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,238},{162,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{168,68}}</string>
                <key>offset</key>
                <string>{134,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,234},{168,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{164,88}}</string>
                <key>offset</key>
                <string>{144,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,232},{164,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,576},{132,88}}</string>
                <key>offset</key>
                <string>{125,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,232},{132,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,448},{146,88}}</string>
                <key>offset</key>
                <string>{129,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,231},{146,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,362},{150,84}}</string>
                <key>offset</key>
                <string>{130,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,232},{150,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,222},{158,76}}</string>
                <key>offset</key>
                <string>{133,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,232},{158,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{166,88}}</string>
                <key>offset</key>
                <string>{137,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,229},{166,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{152,88}}</string>
                <key>offset</key>
                <string>{128,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,229},{152,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{158,88}}</string>
                <key>offset</key>
                <string>{129,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,228},{158,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,72},{164,84}}</string>
                <key>offset</key>
                <string>{130,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,229},{164,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,442},{142,52}}</string>
                <key>offset</key>
                <string>{118,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,253},{142,52}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{150,54}}</string>
                <key>offset</key>
                <string>{122,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,252},{150,54}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{158,58}}</string>
                <key>offset</key>
                <string>{125,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,250},{158,58}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,92},{164,62}}</string>
                <key>offset</key>
                <string>{130,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,248},{164,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,68}}</string>
                <key>offset</key>
                <string>{134,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,244},{170,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,538},{142,72}}</string>
                <key>offset</key>
                <string>{156,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,242},{142,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,666},{102,54}}</string>
                <key>offset</key>
                <string>{138,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,249},{102,54}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianghuo1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:684ff425694877346d2c16105f00918a:9de465c694585b02ef74f9d5726eeb6a:9375e5bad9ea47de75c1e30c91eb2b69$</string>
            <key>textureFileName</key>
            <string>qianghuo1.png</string>
        </dict>
    </dict>
</plist>
