<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,744},{114,62}}</string>
                <key>offset</key>
                <string>{147,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,245},{114,62}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,674},{120,68}}</string>
                <key>offset</key>
                <string>{151,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,241},{120,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{128,72}}</string>
                <key>offset</key>
                <string>{155,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,239},{128,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,876},{94,60}}</string>
                <key>offset</key>
                <string>{95,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,194},{94,60}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{114,102}}</string>
                <key>offset</key>
                <string>{106,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,159},{114,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,714},{116,102}}</string>
                <key>offset</key>
                <string>{108,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,157},{116,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,526},{128,106}}</string>
                <key>offset</key>
                <string>{112,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,155},{128,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,636},{120,110}}</string>
                <key>offset</key>
                <string>{106,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,155},{120,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{124,108}}</string>
                <key>offset</key>
                <string>{107,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,156},{124,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,402},{132,108}}</string>
                <key>offset</key>
                <string>{110,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,155},{132,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{136,110}}</string>
                <key>offset</key>
                <string>{111,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,155},{136,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,226},{138,86}}</string>
                <key>offset</key>
                <string>{113,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,178},{138,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{142,88}}</string>
                <key>offset</key>
                <string>{115,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,176},{142,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{136,84}}</string>
                <key>offset</key>
                <string>{111,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,180},{136,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,204},{138,86}}</string>
                <key>offset</key>
                <string>{113,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,178},{138,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{142,88}}</string>
                <key>offset</key>
                <string>{115,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,176},{142,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,132},{110,72}}</string>
                <key>offset</key>
                <string>{128,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,175},{110,72}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,382},{128,88}}</string>
                <key>offset</key>
                <string>{126,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,172},{128,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,314},{136,102}}</string>
                <key>offset</key>
                <string>{129,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,169},{136,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,512},{122,102}}</string>
                <key>offset</key>
                <string>{122,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,170},{122,102}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,418},{132,106}}</string>
                <key>offset</key>
                <string>{124,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,168},{132,106}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,92},{140,110}}</string>
                <key>offset</key>
                <string>{127,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,168},{140,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,634},{124,78}}</string>
                <key>offset</key>
                <string>{118,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,199},{124,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{130,108}}</string>
                <key>offset</key>
                <string>{120,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,168},{130,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,292},{136,108}}</string>
                <key>offset</key>
                <string>{122,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,169},{136,108}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,114},{138,110}}</string>
                <key>offset</key>
                <string>{124,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,167},{138,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{142,110}}</string>
                <key>offset</key>
                <string>{126,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,168},{142,110}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,594},{124,78}}</string>
                <key>offset</key>
                <string>{118,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,199},{124,78}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,512},{130,80}}</string>
                <key>offset</key>
                <string>{120,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,196},{130,80}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,244},{136,84}}</string>
                <key>offset</key>
                <string>{122,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,193},{136,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{138,88}}</string>
                <key>offset</key>
                <string>{125,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,189},{138,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,92}}</string>
                <key>offset</key>
                <string>{128,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,185},{146,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{124,76}}</string>
                <key>offset</key>
                <string>{146,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,183},{124,76}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{96,64}}</string>
                <key>offset</key>
                <string>{133,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,196},{96,64}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianghuo2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4163aef18cc44ca8d6aa0d27ae502b6a:5fccd08e8751cd9def5b7f9239973cb0:208510034840cf2e614487b6da7545db$</string>
            <key>textureFileName</key>
            <string>qianghuo2.png</string>
        </dict>
    </dict>
</plist>
