<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selfHit_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{64,64}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{64,64}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,130},{104,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{104,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{114,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{114,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{124,126}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{124,126}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,130},{118,124}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{118,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,134},{116,118}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{116,118}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,130},{122,124}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{122,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{126,132}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{126,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{130,136}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{130,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>selfHit_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,138}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{130,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selfHit.png</string>
            <key>size</key>
            <string>{638,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:424d6f5941d586787fd3a5a0d4a1a285:df0484b7ca2bcb12d5f1cd29d82fde3e:e236b3c498f17cb3a0a6ffa5a9a8a9cb$</string>
            <key>textureFileName</key>
            <string>selfHit.png</string>
        </dict>
    </dict>
</plist>
