<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shunsha_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,292},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{148,166}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,215},{148,166}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,582},{172,184}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,200},{172,184}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,220},{176,194}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,188},{176,194}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,570},{184,206}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,175},{184,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,570},{182,220}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,163},{182,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,252},{188,240}}</string>
                <key>offset</key>
                <string>{-13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,145},{188,240}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,270},{188,254}}</string>
                <key>offset</key>
                <string>{-9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,132},{188,254}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,562},{192,262}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,123},{192,262}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,282},{198,268}}</string>
                <key>offset</key>
                <string>{-7,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,112},{198,268}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,288},{196,280}}</string>
                <key>offset</key>
                <string>{-8,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,99},{196,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,292},{198,288}}</string>
                <key>offset</key>
                <string>{-10,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,91},{198,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,298}}</string>
                <key>offset</key>
                <string>{-15,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,82},{196,298}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,282},{200,278}}</string>
                <key>offset</key>
                <string>{-15,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,102},{200,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{208,288}}</string>
                <key>offset</key>
                <string>{-14,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,90},{208,288}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{214,290}}</string>
                <key>offset</key>
                <string>{-14,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,84},{214,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{220,284}}</string>
                <key>offset</key>
                <string>{-14,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,83},{220,284}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{202,278}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,84},{202,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,288},{194,280}}</string>
                <key>offset</key>
                <string>{-8,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,82},{194,280}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{198,278}}</string>
                <key>offset</key>
                <string>{-8,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,80},{198,278}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{200,266}}</string>
                <key>offset</key>
                <string>{-7,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,84},{200,266}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{204,248}}</string>
                <key>offset</key>
                <string>{-7,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,91},{204,248}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{208,238}}</string>
                <key>offset</key>
                <string>{-7,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,89},{208,238}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{216,206}}</string>
                <key>offset</key>
                <string>{-5,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,117},{216,206}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,526},{220,222}}</string>
                <key>offset</key>
                <string>{-5,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,107},{220,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,552},{216,202}}</string>
                <key>offset</key>
                <string>{-7,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,118},{216,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,494},{220,214}}</string>
                <key>offset</key>
                <string>{-7,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,112},{220,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,242},{218,218}}</string>
                <key>offset</key>
                <string>{-8,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,108},{218,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>shunsha_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,462},{218,214}}</string>
                <key>offset</key>
                <string>{-8,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,111},{218,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shunsha.png</string>
            <key>size</key>
            <string>{2022,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:540dc4c5bfd83242e2ced516fb2cb907:e9bacf393702268aad1ee8c12a1bbd8e:9b61cfa58c8854ff312c32e7409d9a88$</string>
            <key>textureFileName</key>
            <string>shunsha.png</string>
        </dict>
    </dict>
</plist>
