<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>synthesis_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{164,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{164,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>synthesis_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{164,154}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{164,154}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>synthesis_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,152}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{166,152}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>synthesis_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{152,136}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{152,136}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>synthesis_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{144,146}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{144,146}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
            <key>synthesis_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{152,164}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{152,164}}</string>
                <key>sourceSize</key>
                <string>{176,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>synthesis.png</string>
            <key>size</key>
            <string>{170,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:160e1fe2dd408964c27ec318a502e109:3dab9d9c9936693d86b042568fa19fd8:e83baf1f56b8c6ae385c3d216e662273$</string>
            <key>textureFileName</key>
            <string>synthesis.png</string>
        </dict>
    </dict>
</plist>
