<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiaopi0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,562},{2,6}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,303},{2,6}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1764},{118,50}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,297},{118,50}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1196},{148,68}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,286},{148,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1764},{178,88}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,274},{178,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,986},{208,112}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,258},{208,112}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,746},{238,138}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,239},{238,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1494},{268,164}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,222},{268,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1494},{294,182}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,211},{294,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{320,190}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,211},{320,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,224},{262,142}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,212},{262,142}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,488},{256,138}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,214},{256,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{274,330}}</string>
                <key>offset</key>
                <string>{47,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,0},{274,330}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{282,328}}</string>
                <key>offset</key>
                <string>{33,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,0},{282,328}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{286,330}}</string>
                <key>offset</key>
                <string>{16,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,0},{286,330}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{280,312}}</string>
                <key>offset</key>
                <string>{-6,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,21},{280,312}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{310,290}}</string>
                <key>offset</key>
                <string>{-10,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,46},{310,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,230},{340,202}}</string>
                <key>offset</key>
                <string>{-16,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,137},{340,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,572},{372,212}}</string>
                <key>offset</key>
                <string>{-15,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,133},{372,212}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,226}}</string>
                <key>offset</key>
                <string>{-15,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,129},{404,226}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1222},{270,218}}</string>
                <key>offset</key>
                <string>{8,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,125},{270,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,946},{274,220}}</string>
                <key>offset</key>
                <string>{7,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,123},{274,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{234,220}}</string>
                <key>offset</key>
                <string>{4,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,120},{234,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1790},{228,162}}</string>
                <key>offset</key>
                <string>{14,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,144},{228,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1346},{128,74}}</string>
                <key>offset</key>
                <string>{16,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,195},{128,74}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi0_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,892},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiaopi0.png</string>
            <key>size</key>
            <string>{644,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b68e3e3b9ff031a5bac128ed37450f7e:bdf169723a340446c182b3f7277cc5a4:6c1f3d594ce3a698d4811fcccee99af9$</string>
            <key>textureFileName</key>
            <string>tiaopi0.png</string>
        </dict>
    </dict>
</plist>
