<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiaopi3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,354},{118,50}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,311},{118,50}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1072},{148,68}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,300},{148,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,552},{178,88}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,288},{178,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,862},{208,112}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,272},{208,112}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,266},{238,138}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,253},{238,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,506},{268,162}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,238},{268,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1098},{294,180}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,227},{294,180}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,776},{320,188}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,227},{320,188}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{262,140}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,228},{262,140}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1142},{256,136}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,230},{256,136}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{318,432}}</string>
                <key>offset</key>
                <string>{20,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,12},{318,432}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,444}}</string>
                <key>offset</key>
                <string>{41,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,10},{350,444}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{326,376}}</string>
                <key>offset</key>
                <string>{44,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,81},{326,376}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{306,364}}</string>
                <key>offset</key>
                <string>{61,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,96},{306,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,972},{300,282}}</string>
                <key>offset</key>
                <string>{82,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,181},{300,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,768},{340,202}}</string>
                <key>offset</key>
                <string>{81,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,264},{340,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,552},{372,214}}</string>
                <key>offset</key>
                <string>{82,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,260},{372,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,322},{404,228}}</string>
                <key>offset</key>
                <string>{82,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,256},{404,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{270,218}}</string>
                <key>offset</key>
                <string>{85,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,252},{270,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{274,220}}</string>
                <key>offset</key>
                <string>{84,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,250},{274,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1256},{234,220}}</string>
                <key>offset</key>
                <string>{81,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,247},{234,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1394},{228,162}}</string>
                <key>offset</key>
                <string>{91,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,272},{228,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,732},{128,74}}</string>
                <key>offset</key>
                <string>{93,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,322},{128,74}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi3_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,506},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiaopi3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a75628df3756fc93646b06e2e20cd0b3:22fd0a7826f0524d23350886f75584e2:81740f8c6f9ccd467d77844ac56e51ff$</string>
            <key>textureFileName</key>
            <string>tiaopi3.png</string>
        </dict>
    </dict>
</plist>
