<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiaopi1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{2,6}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,303},{2,6}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,662},{118,50}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,297},{118,50}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1868},{148,68}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,286},{148,68}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1918},{178,88}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,274},{178,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1558},{208,112}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,258},{208,112}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{238,138}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,239},{238,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1702},{268,164}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,222},{268,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,286},{294,182}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,211},{294,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,470},{320,190}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,211},{320,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1868},{262,142}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,212},{262,142}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1768},{256,138}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,214},{256,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{436,370}}</string>
                <key>offset</key>
                <string>{-37,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{436,370}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,348}}</string>
                <key>offset</key>
                <string>{-13,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{462,348}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{430,346}}</string>
                <key>offset</key>
                <string>{-6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{430,346}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1088},{392,338}}</string>
                <key>offset</key>
                <string>{20,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,73},{392,338}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{300,282}}</string>
                <key>offset</key>
                <string>{84,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,132},{300,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,884},{340,202}}</string>
                <key>offset</key>
                <string>{83,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,215},{340,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{372,214}}</string>
                <key>offset</key>
                <string>{84,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,211},{372,214}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{404,228}}</string>
                <key>offset</key>
                <string>{84,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,207},{404,228}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1482},{270,218}}</string>
                <key>offset</key>
                <string>{87,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,203},{270,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,662},{274,220}}</string>
                <key>offset</key>
                <string>{86,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,201},{274,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1682},{234,220}}</string>
                <key>offset</key>
                <string>{83,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,198},{234,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1518},{228,162}}</string>
                <key>offset</key>
                <string>{93,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,223},{228,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1482},{128,74}}</string>
                <key>offset</key>
                <string>{95,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,273},{128,74}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,6},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiaopi1.png</string>
            <key>size</key>
            <string>{778,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:311fc559febfd43e7a342e0a30ddd7b3:296d9671459436082af08135aac5eb94:3328d8edcf04d0e7775872d31e77bc21$</string>
            <key>textureFileName</key>
            <string>tiaopi1.png</string>
        </dict>
    </dict>
</plist>
