<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tiaopi2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,2},{118,48}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,299},{118,48}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,508},{148,66}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,288},{148,66}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,698},{178,88}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,274},{178,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,576},{208,112}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,258},{208,112}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,146},{238,138}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,239},{238,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,428},{268,164}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,222},{268,164}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,470},{294,182}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,211},{294,182}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,462},{320,190}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,211},{320,190}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{262,142}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,212},{262,142}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,146},{256,138}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,214},{256,138}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{466,368}}</string>
                <key>offset</key>
                <string>{-42,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{466,368}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,356}}</string>
                <key>offset</key>
                <string>{-17,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,21},{490,356}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{458,344}}</string>
                <key>offset</key>
                <string>{-10,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,36},{458,344}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{424,338}}</string>
                <key>offset</key>
                <string>{20,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,45},{424,338}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{300,290}}</string>
                <key>offset</key>
                <string>{100,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,96},{300,290}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,428},{340,202}}</string>
                <key>offset</key>
                <string>{99,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,187},{340,202}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,406},{372,208}}</string>
                <key>offset</key>
                <string>{100,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,183},{372,208}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{402,222}}</string>
                <key>offset</key>
                <string>{99,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,179},{402,222}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,470},{270,218}}</string>
                <key>offset</key>
                <string>{97,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,175},{270,218}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,494},{274,220}}</string>
                <key>offset</key>
                <string>{96,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,173},{274,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,286},{234,220}}</string>
                <key>offset</key>
                <string>{93,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,170},{234,220}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,508},{228,162}}</string>
                <key>offset</key>
                <string>{103,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,195},{228,162}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{128,74}}</string>
                <key>offset</key>
                <string>{105,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,245},{128,74}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>tiaopi2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tiaopi2.png</string>
            <key>size</key>
            <string>{2030,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a953309217f6de00ac9fb3bbbf2f4dc5:289e12f8372afb3cc06c9577ed6ed244:c6c4139f158ae4c483d0cc9d20e3e730$</string>
            <key>textureFileName</key>
            <string>tiaopi2.png</string>
        </dict>
    </dict>
</plist>
