<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuwei0_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{74,76}}</string>
                <key>offset</key>
                <string>{66,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,344},{74,76}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1588},{80,108}}</string>
                <key>offset</key>
                <string>{65,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,314},{80,108}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{98,134}}</string>
                <key>offset</key>
                <string>{59,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,289},{98,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,908},{106,142}}</string>
                <key>offset</key>
                <string>{53,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,274},{106,142}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,800},{106,146}}</string>
                <key>offset</key>
                <string>{49,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,251},{106,146}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1016},{114,156}}</string>
                <key>offset</key>
                <string>{37,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,249},{114,156}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{204,208}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,251},{204,208}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1136},{198,218}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,251},{198,218}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1204},{186,214}}</string>
                <key>offset</key>
                <string>{-23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,256},{186,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1336},{174,208}}</string>
                <key>offset</key>
                <string>{-28,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,263},{174,208}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,984},{150,222}}</string>
                <key>offset</key>
                <string>{-31,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,244},{150,222}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1512},{192,204}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,244},{192,204}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,994},{208,220}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,244},{208,220}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,782},{200,230}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,244},{200,230}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{188,224}}</string>
                <key>offset</key>
                <string>{20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,251},{188,224}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,826},{166,228}}</string>
                <key>offset</key>
                <string>{30,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,247},{166,228}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,638},{142,246}}</string>
                <key>offset</key>
                <string>{32,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,227},{142,246}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,688},{136,234}}</string>
                <key>offset</key>
                <string>{29,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,227},{136,234}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{186,228}}</string>
                <key>offset</key>
                <string>{-3,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,226},{186,228}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{176,216}}</string>
                <key>offset</key>
                <string>{-7,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,226},{176,216}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1854},{158,186}}</string>
                <key>offset</key>
                <string>{-16,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,239},{158,186}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1848},{152,198}}</string>
                <key>offset</key>
                <string>{-19,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,227},{152,198}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1206},{174,200}}</string>
                <key>offset</key>
                <string>{-30,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,222},{174,200}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1382},{186,198}}</string>
                <key>offset</key>
                <string>{-36,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,222},{186,198}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,830},{178,194}}</string>
                <key>offset</key>
                <string>{-40,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,222},{178,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1026},{178,188}}</string>
                <key>offset</key>
                <string>{-38,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,226},{178,188}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1132},{154,188}}</string>
                <key>offset</key>
                <string>{-51,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,236},{154,188}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1490},{168,184}}</string>
                <key>offset</key>
                <string>{-58,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,241},{168,184}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1676},{180,176}}</string>
                <key>offset</key>
                <string>{-63,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,248},{180,176}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1322},{162,166}}</string>
                <key>offset</key>
                <string>{-73,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,257},{162,166}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,688},{128,140}}</string>
                <key>offset</key>
                <string>{-93,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,273},{128,140}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{272,148}}</string>
                <key>offset</key>
                <string>{-20,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,265},{272,148}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{294,182}}</string>
                <key>offset</key>
                <string>{-9,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,229},{294,182}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,284}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,228},{366,284}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{354,204}}</string>
                <key>offset</key>
                <string>{30,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,229},{354,204}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,208},{346,244}}</string>
                <key>offset</key>
                <string>{26,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,202},{346,244}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,454},{316,232}}</string>
                <key>offset</key>
                <string>{10,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,202},{316,232}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{324,264}}</string>
                <key>offset</key>
                <string>{11,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,173},{324,264}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,186},{226,292}}</string>
                <key>offset</key>
                <string>{-15,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,146},{226,292}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,414},{222,298}}</string>
                <key>offset</key>
                <string>{-12,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,140},{222,298}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{140,86}}</string>
                <key>offset</key>
                <string>{-48,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,351},{140,86}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1706},{140,82}}</string>
                <key>offset</key>
                <string>{-47,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,353},{140,82}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1392},{118,88}}</string>
                <key>offset</key>
                <string>{-35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,352},{118,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1482},{120,90}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,349},{120,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1466},{138,120}}</string>
                <key>offset</key>
                <string>{-52,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,318},{138,120}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,638},{128,160}}</string>
                <key>offset</key>
                <string>{-55,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,275},{128,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei0_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,186},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuwei0.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db42c4f47bdc5b803a54a1b310f9b881:245f7422cdd81d06ee2ebc1d2843edbf:30fe4b92d27ca8b1955e454345bac36a$</string>
            <key>textureFileName</key>
            <string>wuwei0.png</string>
        </dict>
    </dict>
</plist>
