<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuwei2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,406},{52,58}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,375},{52,58}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,950},{62,88}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,345},{62,88}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1014},{70,130}}</string>
                <key>offset</key>
                <string>{18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,306},{70,130}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,566},{74,154}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,279},{74,154}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1406},{136,168}}</string>
                <key>offset</key>
                <string>{42,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,265},{136,168}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,884},{152,160}}</string>
                <key>offset</key>
                <string>{50,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,264},{152,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{184,164}}</string>
                <key>offset</key>
                <string>{34,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,265},{184,164}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{230,178}}</string>
                <key>offset</key>
                <string>{11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,266},{230,178}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1060},{232,166}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,279},{232,166}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1234},{212,168}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,277},{212,168}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{222,192}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,253},{222,192}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,634},{272,184}}</string>
                <key>offset</key>
                <string>{29,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,253},{272,184}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{268,244}}</string>
                <key>offset</key>
                <string>{31,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,253},{268,244}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{264,248}}</string>
                <key>offset</key>
                <string>{34,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,254},{264,248}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,820},{258,238}}</string>
                <key>offset</key>
                <string>{36,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,265},{258,238}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,776},{212,236}}</string>
                <key>offset</key>
                <string>{46,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,267},{212,236}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{216,242}}</string>
                <key>offset</key>
                <string>{48,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,257},{216,242}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,990},{222,234}}</string>
                <key>offset</key>
                <string>{53,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,256},{222,234}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1228},{212,226}}</string>
                <key>offset</key>
                <string>{58,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,257},{212,226}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1404},{206,176}}</string>
                <key>offset</key>
                <string>{61,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,257},{206,176}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1470},{200,162}}</string>
                <key>offset</key>
                <string>{59,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,271},{200,162}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1214},{124,190}}</string>
                <key>offset</key>
                <string>{74,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,243},{124,190}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1350},{118,208}}</string>
                <key>offset</key>
                <string>{74,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,227},{118,208}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1576},{146,200}}</string>
                <key>offset</key>
                <string>{49,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,227},{146,200}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1442},{140,194}}</string>
                <key>offset</key>
                <string>{34,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,225},{140,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1046},{148,186}}</string>
                <key>offset</key>
                <string>{28,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,224},{148,186}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1582},{138,182}}</string>
                <key>offset</key>
                <string>{17,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,226},{138,182}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1584},{134,174}}</string>
                <key>offset</key>
                <string>{16,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,235},{134,174}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{124,168}}</string>
                <key>offset</key>
                <string>{12,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,240},{124,168}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,722},{104,160}}</string>
                <key>offset</key>
                <string>{5,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,246},{104,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1720},{126,142}}</string>
                <key>offset</key>
                <string>{-4,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,256},{126,142}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1214},{214,134}}</string>
                <key>offset</key>
                <string>{40,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,258},{214,134}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,496},{298,136}}</string>
                <key>offset</key>
                <string>{81,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,259},{298,136}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,194}}</string>
                <key>offset</key>
                <string>{123,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,265},{384,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{368,234}}</string>
                <key>offset</key>
                <string>{129,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,252},{368,234}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{356,206}}</string>
                <key>offset</key>
                <string>{128,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,203},{356,206}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,238},{330,256}}</string>
                <key>offset</key>
                <string>{115,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,164},{330,256}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{302,258}}</string>
                <key>offset</key>
                <string>{99,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,169},{302,258}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,476},{310,298}}</string>
                <key>offset</key>
                <string>{114,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,133},{310,298}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,252},{328,222}}</string>
                <key>offset</key>
                <string>{126,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,212},{328,222}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,776},{98,100}}</string>
                <key>offset</key>
                <string>{17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,335},{98,100}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,878},{94,70}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,363},{94,70}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,496},{82,68}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,366},{82,68}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei2_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,198},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuwei2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0502f75cde0dea44116328a038d6caa:1d1ba7937789ed3abff28036e5709908:a70b0ee3a200ab47004dc14eac192170$</string>
            <key>textureFileName</key>
            <string>wuwei2.png</string>
        </dict>
    </dict>
</plist>
