<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wuwei1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1734},{84,80}}</string>
                <key>offset</key>
                <string>{-41,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,356},{84,80}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1694},{92,116}}</string>
                <key>offset</key>
                <string>{-37,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,322},{92,116}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,522},{94,144}}</string>
                <key>offset</key>
                <string>{-37,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,293},{94,144}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1818},{104,154}}</string>
                <key>offset</key>
                <string>{-26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,276},{104,154}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{176,154}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,272},{176,154}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{218,152}}</string>
                <key>offset</key>
                <string>{40,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,273},{218,152}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1292},{214,160}}</string>
                <key>offset</key>
                <string>{42,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,273},{214,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1354},{214,152}}</string>
                <key>offset</key>
                <string>{42,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,281},{214,152}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{224,138}}</string>
                <key>offset</key>
                <string>{37,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,295},{224,138}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1412},{208,152}}</string>
                <key>offset</key>
                <string>{30,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,281},{208,152}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1196},{218,156}}</string>
                <key>offset</key>
                <string>{35,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,274},{218,156}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1052},{244,194}}</string>
                <key>offset</key>
                <string>{47,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,274},{244,194}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,406},{240,246}}</string>
                <key>offset</key>
                <string>{49,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,274},{240,246}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{238,244}}</string>
                <key>offset</key>
                <string>{50,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,277},{238,244}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,648},{244,230}}</string>
                <key>offset</key>
                <string>{47,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,292},{244,230}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1068},{222,228}}</string>
                <key>offset</key>
                <string>{35,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,294},{222,228}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,968},{242,226}}</string>
                <key>offset</key>
                <string>{46,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,290},{242,226}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{280,224}}</string>
                <key>offset</key>
                <string>{68,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,290},{280,224}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{262,220}}</string>
                <key>offset</key>
                <string>{77,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,290},{262,220}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,880},{256,170}}</string>
                <key>offset</key>
                <string>{80,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,292},{256,170}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,248},{250,156}}</string>
                <key>offset</key>
                <string>{83,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,311},{250,156}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{166,200}}</string>
                <key>offset</key>
                <string>{109,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,269},{166,200}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1454},{164,206}}</string>
                <key>offset</key>
                <string>{108,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,262},{164,206}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1248},{162,216}}</string>
                <key>offset</key>
                <string>{107,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,247},{162,216}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,852},{200,214}}</string>
                <key>offset</key>
                <string>{88,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,245},{200,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{208,192}}</string>
                <key>offset</key>
                <string>{83,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,245},{208,192}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1508},{200,184}}</string>
                <key>offset</key>
                <string>{80,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,246},{200,184}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1566},{190,166}}</string>
                <key>offset</key>
                <string>{74,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,254},{190,166}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1578},{180,160}}</string>
                <key>offset</key>
                <string>{71,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,260},{180,160}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1412},{164,142}}</string>
                <key>offset</key>
                <string>{86,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,277},{164,142}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1620},{150,140}}</string>
                <key>offset</key>
                <string>{79,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,270},{150,140}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,668},{182,132}}</string>
                <key>offset</key>
                <string>{73,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,273},{182,132}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,810},{278,156}}</string>
                <key>offset</key>
                <string>{120,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,273},{278,156}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,208}}</string>
                <key>offset</key>
                <string>{137,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,273},{400,208}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,160},{366,202}}</string>
                <key>offset</key>
                <string>{154,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,288},{366,202}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,364},{330,216}}</string>
                <key>offset</key>
                <string>{171,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,258},{330,216}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{316,240}}</string>
                <key>offset</key>
                <string>{176,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,220},{316,240}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,582},{308,226}}</string>
                <key>offset</key>
                <string>{159,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,237},{308,226}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{336,258}}</string>
                <key>offset</key>
                <string>{180,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,201},{336,258}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{378,156}}</string>
                <key>offset</key>
                <string>{198,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,303},{378,156}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1620},{88,78}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,371},{88,78}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,442},{96,78}}</string>
                <key>offset</key>
                <string>{60,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,376},{96,78}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,364},{98,76}}</string>
                <key>offset</key>
                <string>{62,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,380},{98,76}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1816},{100,86}}</string>
                <key>offset</key>
                <string>{67,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,370},{100,86}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>wuwei1_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,160},{1,1}}</string>
                <key>offset</key>
                <string>{-399.5,399.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuwei1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a77c55783de562779c436b305bb818b0:c8fd333326fce3395a66e64b3596c43b:52da181f53d40087c934b9b50e9c2416$</string>
            <key>textureFileName</key>
            <string>wuwei1.png</string>
        </dict>
    </dict>
</plist>
