<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,299.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,368},{118,82}}</string>
                <key>offset</key>
                <string>{-1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,181},{118,82}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,322},{120,94}}</string>
                <key>offset</key>
                <string>{5,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,170},{120,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{118,92}}</string>
                <key>offset</key>
                <string>{4,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,171},{118,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{124,92}}</string>
                <key>offset</key>
                <string>{5,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,171},{124,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,92}}</string>
                <key>offset</key>
                <string>{5,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,171},{134,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{132,84}}</string>
                <key>offset</key>
                <string>{7,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,178},{132,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,278},{126,88}}</string>
                <key>offset</key>
                <string>{10,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,176},{126,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,96},{128,94}}</string>
                <key>offset</key>
                <string>{14,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,175},{128,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,88},{128,98}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,174},{128,98}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,444},{116,92}}</string>
                <key>offset</key>
                <string>{9,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,179},{116,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,376},{120,88}}</string>
                <key>offset</key>
                <string>{13,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,181},{120,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,96},{128,88}}</string>
                <key>offset</key>
                <string>{16,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,184},{128,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,88},{130,84}}</string>
                <key>offset</key>
                <string>{17,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,186},{130,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,192},{126,82}}</string>
                <key>offset</key>
                <string>{18,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,184},{126,82}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{122,86}}</string>
                <key>offset</key>
                <string>{13,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,183},{122,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{130,92}}</string>
                <key>offset</key>
                <string>{18,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,180},{130,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{124,100}}</string>
                <key>offset</key>
                <string>{22,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,171},{124,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,460},{118,92}}</string>
                <key>offset</key>
                <string>{20,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,175},{118,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,276},{124,94}}</string>
                <key>offset</key>
                <string>{19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,173},{124,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,92}}</string>
                <key>offset</key>
                <string>{18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,174},{134,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{132,84}}</string>
                <key>offset</key>
                <string>{18,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,180},{132,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,194},{126,88}}</string>
                <key>offset</key>
                <string>{19,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,178},{126,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,174},{126,94}}</string>
                <key>offset</key>
                <string>{22,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,177},{126,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{128,96}}</string>
                <key>offset</key>
                <string>{17,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,177},{128,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,466},{114,92}}</string>
                <key>offset</key>
                <string>{14,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,180},{114,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,358},{120,88}}</string>
                <key>offset</key>
                <string>{16,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,182},{120,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,264},{126,88}}</string>
                <key>offset</key>
                <string>{18,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,184},{126,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,88},{130,84}}</string>
                <key>offset</key>
                <string>{17,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,186},{130,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,192},{126,82}}</string>
                <key>offset</key>
                <string>{18,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,184},{126,82}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,372},{122,86}}</string>
                <key>offset</key>
                <string>{13,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,183},{122,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{130,92}}</string>
                <key>offset</key>
                <string>{18,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,180},{130,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{124,100}}</string>
                <key>offset</key>
                <string>{22,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,171},{124,100}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,460},{118,92}}</string>
                <key>offset</key>
                <string>{20,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,175},{118,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,192},{124,94}}</string>
                <key>offset</key>
                <string>{19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,173},{124,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,92}}</string>
                <key>offset</key>
                <string>{18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,174},{134,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{132,84}}</string>
                <key>offset</key>
                <string>{18,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,180},{132,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,188},{126,88}}</string>
                <key>offset</key>
                <string>{19,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,178},{126,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,96},{126,94}}</string>
                <key>offset</key>
                <string>{22,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,177},{126,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,96},{128,96}}</string>
                <key>offset</key>
                <string>{17,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,177},{128,96}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,448},{114,92}}</string>
                <key>offset</key>
                <string>{14,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,180},{114,92}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,354},{120,88}}</string>
                <key>offset</key>
                <string>{16,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,182},{120,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,174},{126,88}}</string>
                <key>offset</key>
                <string>{18,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,184},{126,88}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,88},{130,84}}</string>
                <key>offset</key>
                <string>{17,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,186},{130,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,284},{126,82}}</string>
                <key>offset</key>
                <string>{18,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,184},{126,82}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,288},{122,86}}</string>
                <key>offset</key>
                <string>{13,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,183},{122,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,270},{122,86}}</string>
                <key>offset</key>
                <string>{18,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,183},{122,86}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,226},{120,94}}</string>
                <key>offset</key>
                <string>{22,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,174},{120,94}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{108,84}}</string>
                <key>offset</key>
                <string>{20,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,179},{108,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,554},{112,84}}</string>
                <key>offset</key>
                <string>{18,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,178},{112,84}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanyun2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:413fa024aef884abf093be7524e49dff:aa74352a913aa954010c99de543649a3:1dbe0a060102cb636005f235148e90e9$</string>
            <key>textureFileName</key>
            <string>xuanyun2.png</string>
        </dict>
    </dict>
</plist>
