<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,394},{112,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{112,62}}</string>
                <key>sourceSize</key>
                <string>{112,68}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,699},{110,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,61}}</string>
                <key>sourceSize</key>
                <string>{110,61}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,637},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,60}}</string>
                <key>sourceSize</key>
                <string>{106,60}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,394},{115,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,62}}</string>
                <key>sourceSize</key>
                <string>{115,64}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,394},{112,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,63}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,811},{112,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,60}}</string>
                <key>sourceSize</key>
                <string>{114,60}</string>
            </dict>
            <key>CAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{388,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,298}}</string>
                <key>sourceSize</key>
                <string>{388,298}</string>
            </dict>
            <key>CAR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,642},{347,259}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{347,259}}</string>
                <key>sourceSize</key>
                <string>{347,263}</string>
            </dict>
            <key>CAR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{347,259}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{347,259}}</string>
                <key>sourceSize</key>
                <string>{347,263}</string>
            </dict>
            <key>CAR3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,642},{347,259}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{347,259}}</string>
                <key>sourceSize</key>
                <string>{347,263}</string>
            </dict>
            <key>GARDEN0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,351},{188,185}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{188,185}}</string>
                <key>sourceSize</key>
                <string>{190,185}</string>
            </dict>
            <key>TISK.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1008},{249,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,236}}</string>
                <key>sourceSize</key>
                <string>{249,236}</string>
            </dict>
            <key>adventure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,366},{296,274}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,274}}</string>
                <key>sourceSize</key>
                <string>{296,280}</string>
            </dict>
            <key>adventure0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,538},{337,310}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{337,310}}</string>
                <key>sourceSize</key>
                <string>{341,310}</string>
            </dict>
            <key>ancient.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,218},{213,174}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{213,174}}</string>
                <key>sourceSize</key>
                <string>{279,184}</string>
            </dict>
            <key>ancient0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1031},{233,213}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{233,213}}</string>
                <key>sourceSize</key>
                <string>{235,221}</string>
            </dict>
            <key>ancient1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,877},{269,154}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{269,154}}</string>
                <key>sourceSize</key>
                <string>{279,184}</string>
            </dict>
            <key>ancient2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,925},{273,152}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{273,152}}</string>
                <key>sourceSize</key>
                <string>{279,184}</string>
            </dict>
            <key>ancient3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,991},{253,144}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{253,144}}</string>
                <key>sourceSize</key>
                <string>{279,184}</string>
            </dict>
            <key>ancient4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1033},{261,144}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{261,144}}</string>
                <key>sourceSize</key>
                <string>{279,184}</string>
            </dict>
            <key>ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,640}}</string>
                <key>sourceSize</key>
                <string>{1280,640}</string>
            </dict>
            <key>gardeN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{219,214}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,214}}</string>
                <key>sourceSize</key>
                <string>{219,218}</string>
            </dict>
            <key>garden1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,538},{126,97}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{126,97}}</string>
                <key>sourceSize</key>
                <string>{190,185}</string>
            </dict>
            <key>live.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,644},{385,279}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,279}}</string>
                <key>sourceSize</key>
                <string>{391,279}</string>
            </dict>
            <key>live1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{362,250}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,250}}</string>
                <key>sourceSize</key>
                <string>{364,252}</string>
            </dict>
            <key>live2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,644},{362,250}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,250}}</string>
                <key>sourceSize</key>
                <string>{364,252}</string>
            </dict>
            <key>live3.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,644},{362,250}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,250}}</string>
                <key>sourceSize</key>
                <string>{364,252}</string>
            </dict>
            <key>live4.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,644},{362,250}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,250}}</string>
                <key>sourceSize</key>
                <string>{364,252}</string>
            </dict>
            <key>tisk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1008},{230,210}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,210}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>tisk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1008},{230,210}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,210}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>tisk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1034},{230,210}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,210}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>tisk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{230,210}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,210}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{2025,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:432cff1777fcc6ed78f9a28a1ae5b000:1c6b4f88e6d1d365ae66ddd354630532:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
